@{
    Layout = "_layout_main";  
}
    
    
    <h1>Sono la pagina Detail di Courses</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae odit, corrupti nam laudantium aliquid possimus doloribus quidem est at magnam ullam facere dolor, adipisci repellendus esse eum alias omnis tempore!</p>
